html, body {
    background-color : #3b3f44;
    height : 99%;
    min-height : 300px;
    width : 99%;
    min-width: 300px;
    overscroll-behavior : none;
}

#app {
    height : 100%;
    width : 100%;
}

.root {
    height : 100%;
    width : 100%;
}

.title {
    width : 95%;
    margin : auto;
    height : 10%;
    background-color : #3c3f45;
    color : white;
    text-align : center;
    border-radius : 3px;
    border : 1px solid white;
    padding : 1%;
}

.machines {
    width : 95%;
    margin : auto;
    height : 90%;
    background-color : #3c3f45;
    color : white;
    text-align : center;
    border-radius : 3px;
    border : 1px solid white;
    padding : 1%;
}

.machine {
    width : 20%;
    height : 20%;
    margin : auto;
    vertical-align : middle;
    display : inline-block;
    background-color : #ff7f3f;
    border-radius : 5px;
}
